* {
  box-sizing: border-box;
}

/* BODY */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #2a4b8d, #3b6cb7);

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

/* CONTAINER */
.container {
  width: 520px;
  max-width: 95%;
  padding: 20px;

  border-radius: 20px;
  background: #1c1c2e;
  box-shadow: 0 15px 50px rgba(0,0,0,0.6);

  color: white;
  text-align: center;
}

/* TITLE */
h1 {
  font-size: 22px;
  margin-bottom: 10px;
}

/* IMAGE */
#albumArt {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 15px;
}

/* SONG TITLE */
#songTitle {
  font-size: 14px;
  margin: 10px 0;
  color: #ddd;
}

/* EQUALIZER */
.equalizer {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 10px;
}

.equalizer span {
  width: 5px;
  height: 10px;
  background: #1db954;
}

.equalizer.active span {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,100% { height: 10px; }
  50% { height: 30px; }
}

/* 🎵 MUSIC NOTES */
.music-notes {
  height: 30px;
  position: relative;
  margin-bottom: 10px;
}

.music-notes span {
  position: absolute;
  bottom: 0;
  font-size: 20px;
  opacity: 0;
}

/* positions */
.music-notes span:nth-child(1) { left: 20%; }
.music-notes span:nth-child(2) { left: 40%; }
.music-notes span:nth-child(3) { left: 60%; }
.music-notes span:nth-child(4) { left: 80%; }

.music-notes.active span {
  animation: floatNote 2s linear infinite;
}

@keyframes floatNote {
  0% { transform: translateY(0); opacity: 0; }
  50% { opacity: 1; }
  100% { transform: translateY(-40px); opacity: 0; }
}

/* CHAT */
#chatbox {
  height: 120px;
  background: #2a2a3d;
  border-radius: 12px;
  margin-bottom: 10px;
}

/* INPUT */
.input-area {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

/* BUTTON */
button {
  background: #1db954;
  border: none;
  padding: 10px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

/* AUDIO */
audio {
  width: 100%;
  margin-bottom: 10px;
}

/* FAVORITE */
#favBtn {
  width: 100%;
  border-radius: 10px;
  background: #e74c3c;
}
